@media (max-width: 1200px) {
    :root {
        --container-width: 940px;
    }
    .header {
        font-size: 0.875em;
    }
    .menu__elem:not(:last-child) {
        margin-right: 25px;
    }
    .menu__elem::before {
        width: 8px;
        height: 8px;
        top: 3px;
        left: -15px;
    }
    .firstProjects,
    .goal,
    .tools,
    footer {
        font-size: 0.875em;
    }
    .goal__flex-image {
        height: 225px;
        width: 225px;
    }
    .tools__grid-card-image {
        width: 75px;
    }
    .tools__box-grid {
        grid-row-gap: 30px;
    }
    .tools__box-grid-card {
        grid-column-gap: 15px;
    }
    .about__description {
        font-size: 2.2em;
    }
    .contacts__grid {
        grid-gap: 50px;
    }
}
@media (max-width: 992px) {
    :root {
        --container-width: 720px;
    }
    .header {
        font-size: 0.85em;
    }
    .firstProjects,
    .goal,
    .tools,
    footer {
        font-size: 0.825em;
    }
    .goal__flex-elem {
        border-width: 10px;
    }
    .goal__flex-subtitle {
        padding: 0 125px;
    }
    .goal__flex-elem {
        flex: 1 0 100%;
    }
    .firstProjects .container {
        min-height: 550px;
    }
    .contacts__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .contacts {
        font-size: 8px;
    }
}
@media (max-width: 768px) {
    :root {
        --container-width: 540px;
    }
    .header {
        font-size: 0.8em;
    }
    .menu__elem::before {
        width: 7px;
        height: 7px;
        top: 3px;
        left: -13px;
    }
    .tools__grid-card-image {
        width: 65px;
    }
    .tools__box:nth-of-type(4) .tools__box-grid-card:nth-of-type(1) > .tools__grid-card-image {
        border-radius: 17px;
    }
    .picture__infoPanelTitle {
        font-size: 3.25em;
    }
    .picture__infoPanelBtn {
        font-size: 2.25em;
    }

    .firstProjects__picture {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'a'
        'b'
        'c';
    }
    .firstProjects .picture__wrap:nth-of-type(3) {
        grid-area: c;
        grid-column: auto;
    }
    .goal__flex-subtitle {
        padding: 0 75px;
    }
    .goal__title {
        margin-bottom: 35px;
    }
    .goal__flex-image {
        height: 225px;
        width: 225px;
    }
    .menu {
        margin-right: 5px;
    }
    .header__svg {
        display: none;
    }
    .header .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .projects__title {
        font-size: 2.8em;
    }
    .projects__picture {
        padding: 0 70px;
    }
    .projects .picture__infoPanelBtn {
        font-size: 1.6em;
        padding: 8px 40px;
    }
    .projects .picture__infoPanelTitle {
        font-size: 2.4em;
    }
    .firstProjects,
    .goal,
    .tools {
        font-size: 0.75em;
    }
    .about__description {
        font-size: 1.8em;
        text-align: justify;
        margin-top: 40px;
    }
    .about__image {
        width: 300px;
        height: 300px;
    } 
    .about__description::before {
        border-left-width: 45px;
        border-right-width: 45px;
        border-bottom-width: 25px;
        top: -25px;
        right: calc(50% - (90px / 2));
    }
}
@media (max-width: 575px) {
    :root {
        --container-width: 340px;
    }
    .goal__flex-elem:nth-of-type(3) .goal__flex-subtitle {
        padding: 0 10px;
    }
    .goal__flex-subtitle {
        padding: 0 25px;
    }
    .goal__flex-image {
        height: 200px;
        width: 200px;
    }
    .goal__flex-subtitle {
        padding: 0 10px;
    }
    .goal__flex-elem {
        border: none;
    }
    .tools__title {
        margin-bottom: 25px;
    }
    footer {
        font-size: 0.625em;
    }
    .tools__box-grid-card {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-row-gap: 15px;
    }
    .tools__grid-card-text {
        text-align: justify;
        padding: 0 20px;
    }
    .picture__wrap {
        margin: 0 20px;
    }
    .projects__title {
        font-size: 2.6em;
    }
    .projects__picture {
        padding: 0;
    }
    .projects .picture__wrap {
        margin: 0;
    }
    .about__image {
        width: 275px;
        height: 275px;
    } 
    .about__description {
        font-size: 1.6em;
    }
    .contacts__box {
        padding: 15px 30px;
    }
    .contacts__image {
        width: 150px;
        height: 150px;
    }
}