* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    background-color: #111;
}
::-webkit-scrollbar-thumb {
    background-color: #eedbce;
    border-radius: 10px;
    border: 6px solid #111;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */
:root {
    --font-size: 0.625rem;
    --width-container: 1140px;
    --adaptive-img: center/cover no-repeat scroll;
}
[hidden] {
    display: none;
}
html, body {
    width: 100%;
    height: 100%;    
}
body {
    font-size: var(--font-size);
    background-color: #eedbce;
    display: flex;
    flex-direction: column;
}
div[class="wrapper"] {
    margin: 0 auto;
    width: var(--width-container);
}
div[class="inner"] {
    margin: 60px auto;
}
img {
    max-width: 100%;
    width: 100%;
}
ul {
    list-style: none;
}
p, a {
    font-family: 'Oooh Baby', cursive;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yuji Hentaigana Akebono', cursive;
    line-height: 1.1;
    font-weight: 500;
}
.line {
    width: 80px;
    height: 8px;
    background-color: rgb(69, 69, 69);
}
.sec-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../content/images/cb61d529477de50f9e122daf3c7b93e7.jpeg") var(--adaptive-img);
    color: #fff;
}
.sec-1__title {
    font-size: 7.2em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 2.85em 0 4em;
}
.sec-2 {
    color: #111;
}
.sec-2__grid {
    margin-top: -219px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 325px;
    grid-template-areas: 
    'tx tx br-gu fo'
    'to to br-gu fo';
}
.sec-2__grid__grid-item-text {
    grid-area: tx;
    padding: 0 20px;
}
.sec-2__grid-item-text__text {
    color: #fff;
    font-size: 1.6em;
    margin-top: 1.25em;
    margin-bottom: 10px;
}
.sec-2__grid__grid-item-two {
    grid-area: to;
    background: url('../content/images/1775778d9b0d6252141ed8b2b31bb080.jpeg') var(--adaptive-img);
}
.sec-2__grid__grid-item-four {
    grid-area: fo;
    background: url('../content/images/8ccf323f75775a7a6320ae79c112872a.jpeg') var(--adaptive-img);
}
.sec-2__grid__grid-item-bread-guide {
    background-color: #fff;
    grid-area: br-gu;
    padding: 0 20px;
}
.sec-2__grid-item-bread-guide__title {
    margin-top: 20px;
    font-size: 3.6em;
    text-transform: capitalize;
}
.sec-2__grid-item-bread-guide__line {
    margin-top: 15px;
}
.sec-2__grid-item-bread-guide__subtitle {
    font-size: 1.6em;
    margin: 20px 0 26px 0;
    text-align: justify;
}
.sec-3 {
    color: #fff;
}
.sec-3__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-template-areas: 
    'a a b c'
    'a a d e';
}
.sec-3__grid__grid-item:nth-of-type(1) {
    grid-area: a;
    background: url('../content/images/b477e8fc3e2399d9f7d90eee19b6dec2.jpeg') var(--adaptive-img);
}
.sec-3__grid__grid-item:nth-of-type(2) {
    grid-area: b;
    background: url('../content/images/19dfd48313516dde7108a9567c307fab.jpeg') var(--adaptive-img);
}
.sec-3__grid__grid-item:nth-of-type(3) {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../content/images/20359d4aecd8de1ea41867af6a988fa3.jpeg') var(--adaptive-img);
}
.sec-3__grid__grid-item:nth-of-type(4) {
    grid-area: d;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sec-3__grid__grid-item:nth-of-type(5) {
    grid-area: e;
    background: url('../content/images/f58e3561f8936a5f09884732e0d2cda3.jpeg') var(--adaptive-img);
}
.sec-3__grid-item__text {
    text-transform: capitalize;
    font-size: 3.2em;
}
.sec-3__grid-item__line {
    background-color: #fff;
    margin: 3em auto;
}
.sec-4 {
    color: #111;
}
.sec-4__title {
    text-transform: capitalize;
    font-size: 3.6em;
    text-align: center;
}
.sec-4__grid {
    margin: 80px 90px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.sec-4__grid__grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}
.sec-4__grid-item__image:not(.sec-4__grid__grid-item:nth-of-type(2) > img) {
    padding: 0 5em;
    margin-top: 2em;
}
.sec-4__grid__grid-item:nth-of-type(2) > .sec-4__grid-item__image {
    padding: 0 5em;
}
.sec-4__grid__grid-item:nth-of-type(2) > .sec-4__grid-item__title {
    margin-top: 0.925em;
}
.sec-4__grid-item__title {
    text-transform: capitalize;
    font-size: 2.8em;
    margin-top: 1.25em;
}
.sec-4__grid-item__line {
    margin-top: 1.5em;
}
.sec-4__grid-item__subtitle {
    font-size: 1.6em;
    margin-top: 1.5625em;
}
.sec-5 {
    color: #111;
}
.sec-5 .inner {
    margin: 60px auto 30px auto;
}
.sec-5__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.sec-5__grid-item__box {
    padding: 0 20px;
    border: 10px solid transparent;
}
.sec-5__grid-item__image {
    height: 30.9em;
    border: 10px solid transparent;
}
.sec-5__grid-item__box__title {
    margin-top: 0.625em;
    font-size: 3.2em;
}
.sec-5__grid-item__box__line {
    margin-top: 2em;
}
.sec-5__grid-item__box__subtitle {
    font-size: 1.6em;
    margin-top: 1.0625em;
}
.sec-6 {
    color: #111;
}
.sec-6 .inner {
    margin: 0 auto 60px auto;
}
.sec-6__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.sec-6__grid__grid-item-img {
    background: url('../content/images/0ac6a7e839b79ffa685345c50c5827e4.jpeg') var(--adaptive-img);
}
.sec-6__inner-grid__grid-item-content {
    padding:  0 0 0 20px;
    grid-area: a;
    background-color: #fff;
}
.sec-6__inner-grid__grid-item-info {
    padding: 0 0.5em 0 1.5em;
    grid-area: c;
    background-color: #000;
    color: #fff;
}
.sec-6__grid__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 172px) repeat(2, 1fr);
    grid-template-areas: 
    'a a'
    'a a'
    'b d'
    'c d';
}
.sec-6__inner-grid__grid-item__title {
    font-size: 3.2em;
    margin-top: 0.875em;
}
.sec-6__inner-grid__grid-item__line {
    margin-top: 1.3em;
}
.sec-6__inner-grid__grid-item__subtitle {
    font-size: 2.2em;
    margin-top: 0.9091em;
}
.sec-6__inner-grid__grid-item__text {
    font-size: 1.6em;
    margin: 1.25em 0 0.9375em 0;
}
.sec-6__inner-grid__grid-item__text:nth-of-type(2) {
    margin-top: 3em;
}
.sec-7 {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../content/images/a6a72185a8f72df1efdd1af54cf23fd1.jpeg') 50% 100%/cover no-repeat scroll;
}
.sec-7 .inner {
    margin: 280px auto 80px auto;
}
.sec-7__title {
    text-align: center;
    font-size: 3.2em;
}
.sec-7__line {
    background-color: #fff;
    margin: 3em auto 0 auto;
}
.sec-7__subtitle {
    text-align: center;
    font-size: 1.6em;
    margin-top: 1.875em;
}