@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    border: 4px solid #512063;
    border-radius: 10px;
    background-color: #E8D209;
}
::-webkit-scrollbar-track {
    background-color: #512063;
}
body, html {
    width: 100%;
    height: 100%;    
}
body {
    display: flex;
    flex-direction: column;
}
section[class*="sec-"] {
    display: flex;
}
[class*="wrapper"] {
    margin: 0 auto;
    width: 1140px;
    min-height: inherit;
    height: inherit;
}
[class*="inner"] {
	margin: 60px auto;
	min-height: inherit;
    height: inherit;
}
[hidden] {
    display: none;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
	list-style-type: none;
}
p, a {
	font: normal 16px "Oswald", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font: normal 36px "Open Sans", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.sec-1 {
    background-color: #fff;
    background-image: url('../content/medic.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-1__inner {
    margin: 50px auto;
}
.sec-1__container {
    min-height: 300px;
}
.sec-1__container__title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 4%;
    color: #E8D209;
    text-shadow: 1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333, -1px 0px 0px #333;
}
.sec-1__container__grid-product {
    display: grid;
    grid-template-columns: 350px 530px;
    grid-column-gap: 100px;
    margin-top: 60px;
    justify-content: center;
}
.sec-1__grid-product__block-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-1__block-product__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../content/images/prod.png');
    width: 208px;
    height: 325px;
}
.sec-1__block-product__btn {
    margin-top: 20px;
    background-color: transparent;
    color: #512063;
    font: bold 14px "Open Sans";
    border: 2px solid #512063;
    border-radius: 15px;
    padding: 5px 30px;
    transition: 200ms;
}
.sec-1__block-product__btn:hover {
    background-color: #512063;
    color: #E8D209;
}
.sec-1__grid-product__block-info {
    display: flex;
    flex-direction: column;
    color: #512063;
    position: relative;
    justify-content: space-around;
}
.sec-1__block-info__character {
    display: flex;
    position: relative;
}
.sec-1__block-info__character:not(:first-child) {
    margin-top: 25px;
}
.sec-1__character__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: #512063;
    border: 3px solid #333;
    border-radius: 50%;
    font: 600 24px "Open Sans";
}
.sec-1__character__line {
    position: absolute;
    width: 440px;
    height: 2.25px;
    right: 60px;
    bottom: 0;
    border-radius: 5px;
    background-color: #333;
}
.sec-1__character__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font: 600 18px "Oswald";
}
.sec-2 {
    background-color: rgba(81, 32, 99, 0.8);
}
.sec-2__container {
    min-height: 600px;
}
.sec-2__container__title {
    font: bold 36px "Open Sans";
    letter-spacing: 4%;
    color: #E8D209;
    text-align: center;
    text-shadow: 1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333, -1px 0px 0px #333;
}
.sec-2__container__grid-block {
    display: grid;
    grid-template-columns: auto 455px auto;
    grid-template-rows: 1fr;
    margin-top: 20px;
}
.sec-2__grid-block__grid-block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-2__grid-block-info__block-information {
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #512063;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
}
.sec-2__block-information__picture {
    width: 130px;
    height: 130px;
    border: 2px solid #512063;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.sec-2__block-information__text {
    font: bold 18px "Open Sans";
    margin-top: 5px;
    border-bottom: 2px solid #512063;
    padding: 0px 5px;
}
.sec-2__grid-block__grid-block-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.line {
    position: absolute;
    height: 4px;
    width: 125px;
    background-color: #512063;
    border-radius: 10px;
}
.sec-2__grid-block-product__line1 {
    right: -55px;
}
.sec-2__grid-block-product__line2 {
    left: -55px;
}
.sec-2__grid-block-product__line3,
.sec-2__grid-block-product__line4 {
    bottom: 150px;
    right: -70px;
    width: 200px;
    transform: rotate(40deg);
}
.sec-2__grid-block-product__line4 {
    left: -70px;
    transform: rotate(-40deg);
}
.sec-2__grid-block-product__line5 {
    top: 150px;
    right: -70px;
    width: 200px;
    transform: rotate(-35deg);
}
.sec-2__grid-block-product__line6 {
    top: 150px;
    left: -70px;
    width: 200px;
    transform: rotate(35deg);
}
.sec-2__grid-block-product__image {
    width: 270px;
    height: 280px;
    background-image: url('../content/images/prod.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
}
.sec-2__grid-block-product__btn {
    position: absolute;
    bottom: 0px;
    font: bold 18px "Open Sans";
    border-radius: 15px;
    padding: 5px 25px;
    color: #E8D209;
    border: 2px solid #E8D209;
    transition: 200ms;
}
.sec-2__grid-block-product__btn:hover {
    background-color: #E8D209;
    color: #512063;
}
.sec-3 {
    background-color: rgba(81, 32, 99, 0.8);
    position: relative;
}
.sec-3__container {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sec-3__container__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 5px solid #E8D209;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    transition: 150ms;
}
.sec-3__container__arrow:first-of-type {
    left: 0;
    top: 50%;
}
.sec-3__container__arrow {
    right: 0;
    top: 50%;
}
.sec-3__container__arrow:hover .triangle{
    border-right-color: #512063;
}
.sec-3__container__arrow:hover {
    border-color: #512063;
}
.triangle {
	width: 0;
	height: 0;
    position: relative;
    right: 2px;
	border-top: 10px solid transparent;
	border-right: 20px solid #E8D209;
	border-bottom: 10px solid transparent;
    transition: 150ms;
}
.sec-3__arrow__triangle-right {
    left: 2px;
    transform: rotate(180deg);
}
.sec-3__container__title {
    font: bold 28px "Open Sans";
    color: #E8D209;
    border-bottom: 3px solid #512063;
    text-shadow: 1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333, -1px 0px 0px #333;
    padding: 0px 15px;
}
.sec-3__container__box-user {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 690px;
    min-height: 350px;
    padding: 25px 110px 40px 110px;
    background-color: #512063;
    border-radius: 35px;
    margin-top: 15px;
}
.sec-3__container__box-user__indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;    
    place-content: center;
    font: bold 22px "Open Sans";
    width: 60px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 15px;
    background-color: #E8D209;
    color: #512063;
}
.sec-3__box-user__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 5px solid #E8D209;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-position: 50% 100%;
    background-size: 95%;
    background-repeat: no-repeat;
}
.sec-3__box-user__name {
    margin-top: 20px;
    color: #E8D209;
    font: bold 22px "Open Sans";
    padding: 15px 0px;
    text-align: center;
    border-bottom: 3px solid #E8D209;
    border-top: 3px solid #E8D209;
}
.sec-3__box-user__text {
    margin-top: 20px;
    font: bold 19px "Open Sans";
    text-align: center;
    color: #fff;
}
.sec-4__inner {
    margin: 30px auto;
}
.sec-4__container {
    min-height: 440px;
    display: grid;
    grid-template-columns: 405px auto;
    grid-template-rows: 1fr;
}
.sec-4__container__block-image {
    background-image: url('../content/images/doctor2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-4__container__grid-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-4__grid-block__title {
    font: bold 36px "Open Sans";   
    color: #E8D209;
    text-shadow: 1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333, -1px 0px 0px #333;
}
.sec-4__grid-block-subtitle {
    font: bold 22px "Open Sans";
    text-align: center;
    margin: 0px 150px;
    margin-top: 20px;
    color: #512063;
}
.sec-4__grid-block__btn {
    margin-top: 20px;
    padding: 5px 25px;
    border: 2px solid #512063;
    color: #512063;
    font: bold 16px "Open Sans";
    border-radius: 15px;
    transition: 200ms;
}
.sec-4__grid-block__btn:hover {
    background-color: #512063;
    color: #E8D209;
}
.sec-5 {
    background-color: #512063;
}
.sec-5__inner {
    margin: 30px auto;
}
.sec-5__container {
    min-height: 50px;
}
.sec-5__container__grid-block {
    display: flex;
    max-width: 850px;
    margin: 0 auto;
    justify-content: space-between;
}
.sec-5__grid-block__block-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-5__block-icon {
    width: 160px;
    height: 160px;
    background-color: #cebe32;
    border: 5px solid #fff;
    border-radius: 50%;
}
.sec-5__block-picture__icon {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    filter: invert(100%);
}
.sec-5__block-picture__text {
    font: bold 20px "Open Sans";
    color: #E8D209;
    margin-top: 10px;
}
.sec-6 {
    background-color: transparent;
}
.sec-6__container {
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.sec-6__container__grid-block-product {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
}
.sec-6__grid-block-product__title {
    align-self: center;
    font: bold 36px "Open Sans";
    color: #E8D209;
    text-shadow: 1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333, -1px 0px 0px #333;
    border-bottom: 4px solid #512063;
    padding: 0px 10px 3px 10px;
}
.sec-6__grid-block-product__image {
    align-self: center;
    width: 200px;
    height: 320px;
    background-image: url('../content/images/prod.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.sec-6__grid-block-product__block-sale {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sec-6__box-number__number {
    font: bold 24px "Oswald";
    color: #512063;
    text-align: center;
}
.sec-6__box-number__number:first-child {
    text-decoration: line-through;
    color: #512063;
}
.sec-6__box-number__number:last-child {
    border-bottom: 3px solid #512063;
    padding: 0px 8px;
    animation: 700ms infinite linear;
    animation-name: number;
    transition: 150ms;
}
.sec-6__block-sale__box-text {
    display: flex;
    align-items: flex-end;
}
.sec-6__box-text__text {
    font: bold 20px "Open Sans";
    color: #512063;
    margin-bottom: 8px;
}
.sec-6__box-text__text-sale {
    background-color: #E8D209;
    border: 2px solid #512063;
    border-radius: 25px;
    padding: 5px 20px;
    margin-left: 5px;
}
.sec-6__box-text__text-sale__block-number {
    font: bold 20px "Oswald";
    color: #512063;
}
.sec-6__container__grid-block-pay {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E8D209;
    position: relative;
    z-index: 9;
}
.sec-6__grid-block-pay__title {
    align-self: center;
    font: bold 28px "Open Sans";
    color: #512063;
    border-bottom: 4px solid #512063;
    padding: 0px 10px 0px 10px;
}
.sec-6__grid-block-pay__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sec-6__form__block-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.sec-6__form__block-phone,
.sec-6__form__block-name {
    position: relative;
}
.sec-6__form__block-name__label-name,
.sec-6__form__block-phone__label-phone {
    font: bold 18px "Open Sans";
    margin-left: 10px;
    color: #512063;
}
.sec-6__form__block-name__input-name,
.sec-6__form__block-phone__input-phone {
    width: 100%;
    outline: none;
    border: 2px solid #512063;
    border-radius: 20px;
    padding: 10px 20px;
    font: bold 16px "Open Sans";
    color: #E8D209;
    background-color: rgba(81, 32, 99, 0.8);
    position: relative;
}
.sec-6__form__block-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    width: 100%;
}
.sec-6__form__btn {
    margin-top: 20px;
    background-color: #512063;
    color: #E8D209;
    padding: 10px 45px;
    font: normal 18px "Open Sans";
    border-radius: 15px;
    border: 2px solid transparent;
    margin-top: 25px;
    transition: 150ms;
    cursor: pointer;
}
.sec-6__form__btn:hover {
    background-color: #E8D209;
    color: #512063;
    border: 2px solid #512063;
}
@keyframes number {
    0% {
        color: #512063;
    }
    50% {
        color: #e86d09;
        transform: scale(1.1);
    }
    100% {
        color: #512063;
    }
}